$mainBlue: #06848b;
$mainYellow: #e2be3a;
$mainPurple: #4b4869;
$mainBlack: #505050;
$secondBlue: #008db2;
$secondOrange: #dc921b;
$secondPurple: #50478b;
$secondPink: #c6438c;

$bold: 700;
$semiBold: 600;

$textWidth: 40em;
$textMinHeight: 20em;
