@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html {
  color: #505050;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 700; }

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 2em; }

div.page {
  font-size: 0.90em;
  font-weight: normal; }

h1 {
  color: #06848b;
  font-size: 2.1em;
  font-weight: 600; }

h2 {
  color: #e2be3a;
  font-size: 1.8em;
  font-weight: 600; }

h3 {
  color: #008db2;
  font-size: 1.6em;
  font-weight: 600; }

h4 {
  color: #dc921b;
  font-size: 1.4em;
  font-weight: 600; }

h5 {
  color: #4b4869;
  font-size: 1.3em;
  font-weight: 700; }

h5 {
  color: #c6438c;
  font-size: 1.2em; }

a {
  color: #06848b;
  text-decoration: underline; }

a:visited {
  color: #008db2; }

figure.anicare_subthemes figcaption {
  opacity: 1; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  min-height: 100vh; }

header {
  display: flex;
  flex: 320px auto;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #06848b;
  min-height: 20em; }
  header #logoLink {
    width: 320px; }
  header #logo {
    display: block;
    height: auto;
    width: 100%; }
  header #headerColloque {
    display: flex;
    flex-flow: column;
    justify-items: space-between;
    margin: 1em;
    max-width: 990px; }
    header #headerColloque h1 {
      color: #e2be3a;
      font-size: 2.5em; }
    header #headerColloque h2 {
      color: white;
      font-size: 1.5em; }
    header #headerColloque p {
      color: white;
      font-size: 1em; }
    header #headerColloque a {
      font-size: 1.5em;
      background: #e2be3a;
      box-shadow: 5px 5px 5px 0px #505050;
      color: #06848b;
      padding: 0.5em;
      margin: 1em auto 0 auto;
      text-align: center;
      text-decoration: none;
      transition: transform .5s;
      width: 50%; }
    header #headerColloque a:hover {
      transform: scale(1.1); }

#full {
  width: 20em;
  height: auto;
  margin: auto; }

#main div.page {
  max-width: 40em;
  margin: auto;
  padding: 1em 0; }
  #main div.page iframe {
    border: 0; }

footer {
  background-color: #06848b;
  color: white;
  font-size: 80%;
  font-weight: normal;
  min-height: 20em;
  padding: 2em; }
  footer a {
    color: white; }
  footer a:hover {
    color: white; }
  footer ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    footer ul li {
      list-style: none;
      margin-right: 1em; }

@media (max-width: 992px) {
  #headerColloque {
    text-align: center; }
    #headerColloque a {
      width: 90%; } }
#menuToggle {
  display: block;
  position: relative;
  top: 1em;
  right: 1em;
  z-index: 1;
  user-select: none; }
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  #menuToggle input:checked ~ div.include ul {
    display: flex;
    flex-flow: column nowrap; }
  #menuToggle div.include {
    position: absolute;
    top: 0;
    left: 0; }
    #menuToggle div.include ul {
      display: none;
      position: absolute;
      padding: 0;
      margin-left: 55px;
      margin-top: -20px;
      padding-top: 3em;
      min-height: 100vh;
      width: 100vw;
      background: #06848b;
      color: white;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
      #menuToggle div.include ul li {
        padding: 0.2em 0;
        font-size: 1.2em;
        text-align: center; }
      #menuToggle div.include ul a {
        color: white;
        text-decoration: none; }
      #menuToggle div.include ul a:hover {
        color: #06848b;
        background: white; }

#menu {
  background: #4b4869;
  width: 100%; }
  #menu ul {
    align-items: center;
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    flex-flow: row;
    max-width: 40em;
    margin: auto; }
  #menu li {
    padding: 0.5em 1em; }
  #menu img.picto {
    max-height: 1.5em; }
  #menu a {
    text-decoration: none;
    color: white; }

@media (min-width: 640px) {
  #menuToggle {
    position: inherit; }
    #menuToggle span {
      display: none; }
    #menuToggle input {
      display: none; }
    #menuToggle div.include {
      position: relative; }
      #menuToggle div.include ul {
        display: flex;
        flex-flow: row;
        margin: 0;
        padding: 1em;
        min-height: 0;
        width: auto; } }
#day1, #day2, #day3, #partners, #description {
  display: grid;
  grid-template-columns: auto minmax(min-content, 40em) auto;
  grid-template-rows: auto;
  padding-bottom: 1em;
  min-height: calc(20em - 1em); }
  #day1 div.include, #day2 div.include, #day3 div.include, #partners div.include, #description div.include {
    margin: 1em;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; }
    #day1 div.include .span6, #day2 div.include .span6, #day3 div.include .span6, #partners div.include .span6, #description div.include .span6 {
      padding-left: 1em; }

#description {
  background-color: #e2be3a;
  padding-bottom: 0; }
  #description div.page {
    margin: 0 1em;
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    color: #505050;
    font-size: 1em;
    font-weight: bold;
    min-height: 5em !important; }
    #description div.page .span6 {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; }
      #description div.page .span6 iframe.center {
        text-align: center;
        margin: auto; }

#day3, #day2 {
  border-top: 1px #505050 solid; }

#partners {
  background: #505050; }
  #partners div.include {
    margin: auto;
    height: 100%; }
    #partners div.include ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center; }
      #partners div.include ul li {
        list-style-type: none;
        max-width: 9em;
        max-height: 9em;
        height: auto;
        width: 9em;
        margin: 0.5em; }
        #partners div.include ul li figure {
          width: 100%;
          height: 100%;
          margin: 0 !important; }
          #partners div.include ul li figure a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: auto; }

@media (max-width: 992px) {
  /* Centre le texte de la description sur petit écran. */
  #description .row-fluid :nth-child(1) {
    text-align: center;
    margin-bottom: 1em; }

  #day1 h1, #day1 h2, #day2 h1, #day2 h2, #day3 h1, #day3 h2 {
    text-align: center; } }

/*# sourceMappingURL=default.css.map */
